{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "src": "./src"
        },
        "extensions": [".js", ".ios.js", ".android.js"]
      }
    ]
  ]
}
